_.*
__.*
$.*
:
*~
\\
\\\\\\\\
*.aux
*.backup
*.bak
*.bbl
*.blg
*.class
*.fdb_latexmk
*.fls
*gnuplottex-fig[0-9]*.*
*.listing
*.log
*.nav
*.out
*.pdf
*.snm
*.swo
*.swp
*.synctex.gz
target/
*.toc
*.vtc
:w
